{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'accounts:profile' %}">CleaningManagement</a>
    </div>
    <!-- Collect tha nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      {% if user.username == "" %}
        <li><a href="{% url 'login' %}">Login</a></li>
      {% else %}
        <li class="dropdown">
          {% with yesno_args=user.username|add:"," %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username|yesno:yesno_args }} <span class="caret"></span></a>
          {% endwith %}
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}